.lmj-banner {
	color: black;
	background: rgb(252,252,252);
	background: radial-gradient(circle, rgba(252,252,252,1) 0%, rgba(214,212,212,1) 14%, rgba(226,226,227,1) 35%, rgba(65,66,69,1) 54%, rgba(38,39,43,1) 76%, rgba(38,39,43,1) 100%);
	text-align: center;
	padding: 32px;
	border-bottom: solid 3px black;
	display: flex;
	justify-content:center;
	flex-direction: row;
	align-items: center;
}



.lmj-logo {
	padding-top: 30px;
	height: 250px;
	width: 450;
}   