.lmj-banner {
	color: black;
	background-color: white;
	text-align: center;
	padding: 32px;
	border-bottom: solid 3px black;
	display: flex;
	justify-content:center;
	flex-direction: row;
	align-items: center;
}



.lmj-logo {
	height: 250px;
	width: 450;
}   