@import "https://unpkg.com/open-props";


:root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Noto Sans JP', sans-serif;
    
  }

  h1.populaire {
    padding: 20px;
    padding-top: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(77, 95, 105);
  }

  .secards > div {
    block-size: var(--size-14);
    aspect-ratio: var(--ratio-square);
    border-radius: var(--radius-3);
  }

  .secards {
  min-height: 450px;
  overflow-x:auto;
  overscroll-behavior-x: contain;
  scrollbar-color: rgb(109, 109, 109);
  scrollbar-width: thin;
  display: flex;
  gap: var(--size-5);
  justify-content: start;
  border-radius: var(--radius-3);
  -ms-overflow-styl: none;
  padding-left: 20px;
  padding-right: 10px;
  }

.button_add_movie{
  border: none;
  background: none;
  font-size: 20px;
  color: black;
  position: relative;
}

.button_add_movie:hover::after {
  content: "Ajoutez à la liste";
  position: absolute;
  top: -150%;
  left: 50%;
  width: 100px;
  font-size: 12px;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.secards::-webkit-scrollbar {
  height: 5px;
  
}

.secards::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  
}

.secards::-webkit-scrollbar-thumb {
  height: 5px;
  background-color: #d5ac68;
}

.secards::-webkit-scrollbar-thumb:hover {
  background-color: #f1db9d;
}

.secards::-webkit-scrollbar:vertical {
  display: none;
}



  .secards:hover {
    gap: var(--size-10);
    padding-top: var(--size-6);
    padding-bottom: var(--size-13);
  }

  section{     
    display: grid;
  }
  
  .cards_ {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
    
  }


  
  .card_ {
    position: relative;
    display: flex;
    flex-direction: columns;
    justify-content: center;
    height: 140%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    background-color: #607D8B;
    
  }

  .card_:hover{
    top: -30px;
    left: -30px;
    height: 160%;
    width: 120%;

  }
  
  .card__image {      
    width: 80%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card_:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    padding: 0.5em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card_:hover .card__header {
    transform: translateY(0);
  }

  .card__header-text{
    text-align: center;
    margin: auto;
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-weight:bolder;
    font-size: 1.2em;
    margin: 0 0 .3em;
    color: #010125;
    width: 100%;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #2c2127;  
  }
  
  .card__date {
    font-size: .8em;
    font-weight: bold;
    color: #291d23;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #161616;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  .titleinput{
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;color:#fff;
     padding:10px
  }

  /*==============================*/
/* partie commune               */
/*==============================*/
input[type=range].custom-slider.custom-slider-bullet {
  height: 2em;
  width: 15em;
  color: #FFF;
  background: transparent;
  background-image: linear-gradient(to bottom, #FFF, #999, #FFF);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 25%;
}
/*==============================*/
/* le curseur                   */
/*==============================*/
input[type=range].custom-slider.custom-slider-bullet::-webkit-slider-thumb {
  width: 2em;
  padding: 0.25em;                                              /* largeur du bord */
  border: 1px solid #888;
  border-radius: 50%;
  box-shadow: 0 0 .5em #FFF inset;
  background: linear-gradient(#888, #FFF) content-box,          /* le centre */
              linear-gradient(-90deg, #888, #DDD) border-box;   /* le bord */
}
input[type=range].custom-slider.custom-slider-bullet::-moz-range-thumb {
  width: 2em;
  padding: 0.25em;                                              /* largeur du bord */
  border: 1px solid #888;
  border-radius: 50%;
  box-shadow: 0 0 .5em #FFF inset;
  background: linear-gradient(#888, #FFF) content-box,          /* le centre */
              linear-gradient(-90deg, #888, #DDD) border-box;   /* le bord */
}
input[type=range].custom-slider.custom-slider-bullet::-ms-thumb {
  width: 2em;
  padding: 0.25em;                                              /* largeur du bord */
  border: 1px solid #888;
  border-radius: 50%;
  box-shadow: 0 0 .5em #FFF inset;
  background: linear-gradient(#888, #FFF) content-box,          /* le centre */
              linear-gradient(-90deg, #888, #DDD) border-box;   /* le bord */
}

.ligne{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

h1.title{
  text-shadow:   -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000,
   1px 1px 2px #141414,
   1px 1px 3px #141414,
   1px 1px 5px #141414,
   1px 1px 7px #141414,
   1px 1px 10px #141414,
   1px 1px 12px #141414,
   1px 1px 18px #141414;color:#fff;
   padding:20px
}

.button-checked{
  border-radius: 20px;
  margin-left: 20px;
  background-color: #000;
}

button.title{
  text-shadow:   -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000,
   1px 1px 2px #141414,
   1px 1px 3px #141414,
   1px 1px 5px #141414,
   1px 1px 7px #141414,
   1px 1px 10px #141414,
   1px 1px 12px #141414,
   1px 1px 18px #141414;color:#fff;
}