.info_Movie {
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    color: white;
    text-align: center;
}



#name_Movie {
    text-decoration: underline white;
}

.overwiew_Movie {
    text-decoration: underline;
    font-weight: bold;
}

#homepage_Movie {
    text-decoration: underline;
}

.release_Movie{
    text-decoration: underline;
    font-weight: bold;
}