span.text{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(209, 209, 209)
}

.nodeco{
    text-decoration: none;
    color: rgb(209, 209, 209);
}

.navbarecart{
    display: flex;
    flex-direction: row;

}
.d-flex {
    position: absolute;
    right: 0;
    margin-right:25px
}

